body {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

a {
  color: black;
}

.search-position {
  position: absolute;
  left: 70px;
  top: 115px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

div.grid-item {
  vertical-align: top;
  display: inline-block;
  padding: 20px;
  text-align: center;
  max-width: 270px;
}

div.grid-item:hover {
  box-shadow: 1px 1px #cccaca;
}

.book-image {
  height: 250px;
  width: 200px;
}

.caption {
  display: block;
  padding: 5px;
  font-size: large;
}

.book-container {
  display: flex;
  margin-left: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
}

.book-image-individual {
  height: 450px;
  width: 300px;
  padding-bottom: 5px;
}

.disabled{
  pointer-events: none;
}

.info-container {
  margin: 20px;
}

.homepage {
  width: 100%;
  height: 91%;
  background: url("/static/image/background.jpg") no-repeat center;
  background-size: cover;
}

.container {
  padding: 16px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.search-wrapper {
  position: absolute;
  top: 50%;
  left: 20%;
  max-width: 800px;
  width: 100%;
}

.search-wrapper .input {
  padding: 20px;
}

.welcome {
  position: absolute;
  top: 35%;
  left: 30%;
  font-size: 54px;
  color: whitesmoke
}

.title {
  position: absolute;
  left: 70px;
  font-family: Helvetica,sans-serif;
  font-size: 30px;
  margin: 10px;
  padding-top: 10px;
  padding-left: 20px;
}

.search-separate {
  position: absolute;
  top: 115px;
  left: 90px;
  border: 0.3px solid;
  width: 82vw;
}

.description {
  font-size: 16px;
}

.account-img {
  height: 100px;
  width: 100px;
}

.stats-header {
  font-family:'Sergei UI', sans-serif;
  font-size: 30px;
}

.no-search-data {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.table-custom {
  max-width: 900px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
}

.table-title {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, serif;
}

.book-title {
  font-size: 50px;
  font-family: Georgia, serif;
  margin-bottom: 5px;
  max-height: 120px;
}

.book-authors {
  font-size: 25px;
  font-family: Georgia, serif;
  margin-bottom: 15px;
}

.book-header {
  border-bottom: solid 0.5px #000000;
  margin-bottom: 0px;
  margin-left: 40px;
  color: gray;
}

.update-btn {
  max-width: 80px;
  margin: 0 auto;
}